.bloc {
    display: grid;
    grid-template-columns:
      1fr 10% 1fr 10% 1fr 10% 1fr;
    grid-template-areas:
    "C1 . C2 . C3 . C4";
  }
  
  #coordonnés {
      grid-area: C1;
      background-color: #ffba5a;
  }
  #Education {
      grid-area: C2;
      background-color: #3282b8;
  }
  #Compétence {
      grid-area: C3;
      background-color: #db3056;
  }
  #Qualités {
      grid-area: C4;
      background-color: #7fa998;
  }